{% extends 'base.html'%}
{%block con%}

<div class="container mt-5 mb-5">
    <h1><b>주보안내</b></h1>
 <div class="wrap  text-center mt-5 mb-5">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page"><b>5월</b></li>
        </ol>
    </nav>
 </div> 
  <div class="">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">5월 1일</a></li>
      <li class="breadcrumb-item"><a href="#">5월 8일</a></li>
      <li class="breadcrumb-item"><a href="#">5월 15일</a></li>
      <li class="breadcrumb-item"><a href="#">5월 22일</a></li>
      <li class="breadcrumb-item"><a href="#">5월 29일</a></li>

      
    </ol>
  </nav>
  </div>

  <div class="row">

    <div class="weekly_slide slick-slide slick-current slick-active col-lg-4" data-slick-index="0" aria-hidden="false" tabindex="-1" role="option" aria-describedby="slick-slide00" style="width: 440px;">
            
      <img src="/media/jubo/태평2022년5월1일 주보-1-1.jpg " width="100%" alt="1">
      
      </div>

      <div class="weekly_slide slick-slide slick-current slick-active col-lg-4" data-slick-index="0" aria-hidden="false" tabindex="-1" role="option" aria-describedby="slick-slide00" style="width: 440px;">
            
        <img src="/media/jubo/태평2022년5월1일 주보-1-1.jpg " width="100%" alt="1">
        
        </div>


        <div class="weekly_slide slick-slide slick-current slick-active col-lg-4" data-slick-index="0" aria-hidden="false" tabindex="-1" role="option" aria-describedby="slick-slide00" style="width: 440px;">
            
          <img src="/media/jubo/태평2022년5월1일 주보-1-1.jpg " width="100%" alt="1">
          
          </div>
    </div>

</div>
{% endblock %}